@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Raleway&display=swap");
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;
}
header img {
  width: 5rem;
}
header h1 {
  font-size: 32px;
  font-family: "Amatic SC", cursive;
}
header h1 a {
  text-decoration: none;
  color: #210e30;
}
header .abrirMenu,
header .cerrarMenu {
  background-color: transparent;
  border: 0;
  font-size: 2.3rem;
  color: #210e30;
}
header .navLogo {
  width: 3rem;
}
header .nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ede3f2;
  padding: 3rem;
  width: 60%;
  height: 100vh;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
header .nav .navList {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  gap: 2rem;
}
header .nav .navList li {
  font-size: 22px;
}
header .nav .navList li a {
  text-decoration: none;
  color: #210e30;
}
header .nav.visible {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 600px) and (max-width: 1023px) {
  header img {
    width: 6rem;
  }
  header h1 {
    font-size: 40px;
  }
  header .abrirMenu,
  header .cerrarMenu {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 0.5rem;
    justify-content: center;
  }
  header .navLogo {
    display: none;
  }
  header .abrirMenu,
  header .cerrarMenu {
    display: none;
  }
  header .nav {
    opacity: 1;
    visibility: visible;
    position: inherit;
    box-shadow: none;
    padding: 1rem;
    height: auto;
    width: auto;
  }
  header .nav .navList {
    flex-direction: row;
    gap: 6rem;
  }
  header .nav .navList li {
    margin: 8px;
  }
  header .nav .navList a:hover {
    color: #52008d;
    transition: 0.4s;
  }
}
.carrousel {
  width: 100%;
  max-width: 120em;
  overflow-x: hidden;
}
.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrousel .grande div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrousel .grande div .img {
  min-width: 100%;
  width: calc(33.3333333333% - 2em);
  min-height: 163px;
}
.carrousel .grande div h2 {
  position: absolute;
  top: 50%;
  color: #ede3f2;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 1.5px;
}

.puntos {
  width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.puntos .punto {
  list-style-type: none;
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 50px;
  background-color: #e0e0e0;
  box-shadow: 3px 3px 5px #bebebe, -20px -20px 60px #ffffff;
  background-color: #fff;
}
.puntos .punto.activo {
  background-color: #c8add9;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .carrousel .grande div h2 {
    font-size: 100px;
  }
}
header #carritoDeCompras button #verCarrito {
  background-color: #fff;
  border: 0px;
}
header #carritoDeCompras div div h2 {
  font-size: 26px;
}
header #carritoDeCompras #contenedorCarrito {
  padding: 8px;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito {
  display: grid;
  grid-template-columns: 25% 75%;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .imgCarrito {
  width: 80px;
  height: 80px;
  margin: 4px;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard {
  display: grid;
  grid-template-columns: 35% 35% 10% 15%;
  align-items: center;
  gap: 2px;
  font-size: 16px;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard h3 {
  padding: 8px;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard p {
  padding: 8px;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard #botonCarrito {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 16px;
  color: #210e30;
}
header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard #botonCarrito:active {
  background-color: #c8add9;
  color: #52008d;
}
header #carritoDeCompras #total {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  padding-right: 8px;
  font-size: 26px;
}
header #carritoDeCompras #vaciarCarrito {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 16px;
  color: #210e30;
  margin: 8px;
}
header #carritoDeCompras #vaciarCarrito:active {
  background-color: #c8add9;
  color: #52008d;
}

@media (min-width: 600px) and (max-width: 1023px) {
  header #carritoDeCompras button #verCarrito {
    font-size: 32px;
    margin: 8px;
  }
  header #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard {
    display: grid;
    grid-template-columns: 35% 35% 10% 20%;
    align-items: center;
    gap: 2px;
  }
}
@media (min-width: 1024px) {
  #carritoDeCompras {
    display: none;
  }
  #navbarNav ul li a {
    margin: 10px;
    font-size: 20px;
  }
}
footer {
  background-color: #c8add9;
  margin-top: 8px;
  color: #210e30;
}
footer h3 {
  padding: 6px;
  font-size: 20px;
}
footer ul {
  padding: 8px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: #210e30;
}
footer .redesSociales {
  display: grid;
}
footer p {
  text-align: center;
}
footer p a {
  text-decoration: none;
  color: #210e30;
}

body #Whatsapp a {
  display: block;
  font-size: 45px;
  text-decoration: none;
  color: #25D366;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  footer {
    height: 40vh;
  }
  footer h3 {
    padding: 16px;
    font-size: 32px;
  }
  footer ul {
    padding: 16px;
  }
  footer ul li {
    padding: 8px;
  }
  footer ul li a {
    font-size: 22px;
  }
  footer p {
    padding: 10px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer h3 {
    margin-left: 16px;
    font-size: 28px;
  }
  footer ul {
    margin-left: 16px;
  }
  footer ul li a {
    font-size: 20px;
  }
}
main {
  margin: 71px auto auto auto;
}
main div div img {
  position: relative;
}
main div div h2 {
  width: 221px;
  height: 52px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34%;
  right: 64px;
  color: #ede3f2;
  font-weight: bold;
  font-size: 60px;
}

#contenedorProductos {
  display: grid;
  gap: 2px;
  grid-template-areas: "titulo titulo" "envio envio" "card card";
}
#contenedorProductos h2 {
  font-size: 28px;
  grid-area: titulo;
  justify-self: center;
  margin: 16px auto;
}
#contenedorProductos p {
  grid-area: envio;
  justify-self: center;
}
#contenedorProductos .card {
  grid-area: card;
  display: grid;
}
#contenedorProductos .card .imgProductos {
  margin: 8px;
  justify-self: center;
  width: 150px;
  height: 150px;
}
#contenedorProductos .card .cuerpoCard {
  margin: 8px;
}
#contenedorProductos .card .cuerpoCard h3 {
  font-size: 18px;
}
#contenedorProductos .card .cuerpoCard p {
  font-size: 22px;
}
#contenedorProductos .card .cuerpoCard button {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 16px;
  color: #210e30;
}
#contenedorProductos .card .cuerpoCard button:active {
  background-color: #c8add9;
  color: #52008d;
}

#playlist {
  margin: 16px;
  border-top: 1px solid #52008d;
  border-bottom: 1px solid #52008d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#playlist h2 {
  margin: 16px 0px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}
#playlist p {
  text-align: center;
  font-size: 18px;
}
#playlist iframe {
  margin: 16px 0px;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  #contenedorProductos h2 {
    font-size: 40px;
    margin: 24px auto;
  }
  #contenedorProductos p {
    font-size: 18px;
  }
  #contenedorProductos .card {
    padding: 16px;
  }
  #contenedorProductos .card .imgProductos {
    margin: 8px;
    justify-self: center;
    width: 200px;
    height: 200px;
  }
  #contenedorProductos .card .cuerpoCard {
    justify-self: center;
  }
  #contenedorProductos .card .cuerpoCard h3 {
    font-size: 24px;
  }
  #contenedorProductos .card .cuerpoCard p {
    font-size: 24px;
  }
  #contenedorProductos .card .cuerpoCard button {
    font-size: 24px;
  }
  #playlist h2 {
    font-size: 32px;
  }
  #playlist iframe {
    min-height: 40rem;
  }
}
@media (min-width: 1024px) {
  #contenedorProductos {
    display: grid;
    gap: 8px;
    grid-template-areas: "titulo titulo titulo titulo" "envio envio envio envio" "card card card card";
  }
  #contenedorProductos h2 {
    font-size: 36px;
    margin: 24px auto;
  }
  #contenedorProductos p {
    font-size: 20px;
  }
  #contenedorProductos .card {
    padding: 16px;
    margin: 8px;
  }
  #contenedorProductos .card .imgProductos {
    margin: 8px;
    justify-self: center;
    width: 300px;
    height: 300px;
  }
  #contenedorProductos .card .cuerpoCard {
    margin: 8px;
    justify-self: center;
  }
  #contenedorProductos .card .cuerpoCard h3 {
    font-size: 22px;
  }
  #contenedorProductos .card .cuerpoCard p {
    font-size: 26 px;
  }
  #contenedorProductos .card .cuerpoCard button {
    border-radius: 6px;
    background-color: #f6f1f9;
    border: solid #52008d 1px;
    padding: 6px;
    font-size: 16px;
    color: #210e30;
    font-size: 18px;
  }
  #contenedorProductos .card .cuerpoCard button:hover {
    background-color: #c8add9;
    color: #52008d;
  }
  #reforestacion {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "proyecto video" "descripcion video";
    justify-items: center;
  }
  #reforestacion h2 {
    grid-area: proyecto;
    font-size: 30px;
  }
  #reforestacion p {
    grid-area: descripcion;
    font-size: 22px;
    padding: 8px;
  }
  #reforestacion iframe {
    grid-area: video;
    width: 440px;
    height: 245px;
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #210e30;
  background-color: #f6f1f9;
}

/*# sourceMappingURL=style.css.map */
