@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Raleway&display=swap");
nav {
  font-size: 18px;
}
nav div #logoMarca {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav div #logoMarca img {
  width: 6rem;
  height: 6rem;
}
nav div #logoMarca h1 {
  margin-left: 8px;
  color: #210e30;
  font-size: 32px;
  font-family: "Amatic SC", cursive;
}
nav div #carritoDeCompras #contenedorCarrito {
  padding: 8px;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito {
  display: grid;
  grid-template-columns: 25% 75%;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .imgCarrito {
  width: 80px;
  height: 80px;
  margin: 4px;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard {
  display: grid;
  grid-template-columns: 35% 35% 10% 15%;
  align-items: center;
  gap: 2px;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard h3 {
  padding: 8px;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard p {
  padding: 8px;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard #botonCarrito {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 14px;
  color: #210e30;
}
nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard #botonCarrito:active {
  background-color: #c8add9;
  color: #52008d;
}
nav div #carritoDeCompras #total {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  padding-right: 8px;
}
nav div #carritoDeCompras #vaciarCarrito {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 14px;
  color: #210e30;
  margin: 8px;
}
nav div #carritoDeCompras #vaciarCarrito:active {
  background-color: #c8add9;
  color: #52008d;
}
nav div div div div h2 {
  font-size: 22px;
}
nav div #navbarNav ul li a {
  margin: 6px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  nav div #logoMarca img {
    width: 6rem;
    height: 6rem;
  }
  nav div #logoMarca h1 {
    margin-left: 16px;
    font-size: 45px;
  }
  nav div #carritoDeCompras button #verCarrito {
    font-size: 32px;
    margin: 8px;
  }
  nav div #carritoDeCompras #contenedorCarrito div .cardCarrito .cuerpoCard {
    display: grid;
    grid-template-columns: 35% 35% 10% 20%;
    align-items: center;
    gap: 2px;
  }
  nav div button {
    margin: 8px;
  }
  nav div button .navbar-toggler-icon {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1024px) {
  nav div #logoMarca img {
    width: 6rem;
    height: 6rem;
  }
  nav div #logoMarca h1 {
    margin-left: 16px;
    font-size: 45px;
  }
  nav div #carritoDeCompras {
    display: none;
  }
  nav div #navbarNav ul li a {
    margin: 10px;
    font-size: 20px;
  }
}
footer {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/sahumerio.jpg);
  background-repeat: round;
  color: #c8add9;
}
footer h3 {
  padding: 6px;
  font-size: 20px;
}
footer ul {
  padding: 8px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: #c8add9;
}
footer .redesSociales {
  display: grid;
}
footer p {
  text-align: center;
}

body #Whatsapp a {
  display: block;
  font-size: 45px;
  text-decoration: none;
  color: #25D366;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  footer {
    height: 224px;
  }
  footer h3 {
    padding: 16px;
    font-size: 24px;
  }
  footer ul {
    padding: 16px;
  }
  footer ul li a {
    font-size: 18px;
  }
  footer p {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer h3 {
    margin-left: 16px;
    font-size: 28px;
  }
  footer ul {
    margin-left: 16px;
  }
  footer ul li a {
    font-size: 20px;
  }
}
main {
  margin: 71px auto auto auto;
}
main div div img {
  position: relative;
}
main div div h2 {
  width: 221px;
  height: 52px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34%;
  right: 64px;
  color: #ede3f2;
  font-weight: bold;
  font-size: 60px;
}

#contenedorProductos {
  display: grid;
  gap: 2px;
  grid-template-areas: "titulo titulo" "envio envio" "card card";
}
#contenedorProductos h2 {
  font-size: 28px;
  grid-area: titulo;
  justify-self: center;
  margin: 16px auto;
}
#contenedorProductos p {
  grid-area: envio;
  justify-self: center;
}
#contenedorProductos .card {
  grid-area: card;
  display: grid;
}
#contenedorProductos .card .imgProductos {
  margin: 8px;
  justify-self: center;
  width: 150px;
  height: 150px;
}
#contenedorProductos .card .cuerpoCard {
  margin: 8px;
}
#contenedorProductos .card .cuerpoCard h3 {
  font-size: 18px;
}
#contenedorProductos .card .cuerpoCard p {
  font-size: 22px;
}
#contenedorProductos .card .cuerpoCard button {
  border-radius: 6px;
  background-color: #f6f1f9;
  border: solid #52008d 1px;
  padding: 6px;
  font-size: 14px;
  color: #210e30;
}
#contenedorProductos .card .cuerpoCard button:active {
  background-color: #c8add9;
  color: #52008d;
}

#reforestacion {
  margin: 16px;
  border-top: 1px solid #52008d;
  border-bottom: 1px solid #52008d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reforestacion h2 {
  margin: 16px 0px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}
#reforestacion p {
  text-align: center;
  font-size: 18px;
}
#reforestacion iframe {
  margin: 16px 0px;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  #contenedorProductos h2 {
    font-size: 32px;
    margin: 24px auto;
  }
  #contenedorProductos p {
    font-size: 18px;
  }
  #contenedorProductos .card {
    padding: 16px;
  }
  #contenedorProductos .card .cuerpoCard {
    justify-self: center;
  }
  #reforestacion h2 {
    font-size: 28px;
  }
  #reforestacion iframe {
    height: 40rem;
  }
}
@media (min-width: 1024px) {
  #contenedorProductos {
    display: grid;
    gap: 8px;
    grid-template-areas: "titulo titulo titulo titulo" "envio envio envio envio" "card card card card";
  }
  #contenedorProductos h2 {
    font-size: 36px;
    margin: 24px auto;
  }
  #contenedorProductos p {
    font-size: 20px;
  }
  #contenedorProductos .card {
    padding: 16px;
    margin: 8px;
  }
  #contenedorProductos .card .imgProductos {
    margin: 8px;
    justify-self: center;
    width: 300px;
    height: 300px;
  }
  #contenedorProductos .card .cuerpoCard {
    margin: 8px;
    justify-self: center;
  }
  #contenedorProductos .card .cuerpoCard h3 {
    font-size: 22px;
  }
  #contenedorProductos .card .cuerpoCard p {
    font-size: 26 px;
  }
  #contenedorProductos .card .cuerpoCard button {
    border-radius: 6px;
    background-color: #f6f1f9;
    border: solid #52008d 1px;
    padding: 6px;
    font-size: 14px;
    color: #210e30;
    font-size: 18px;
  }
  #contenedorProductos .card .cuerpoCard button:hover {
    background-color: #c8add9;
    color: #52008d;
  }
  #reforestacion {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "proyecto video" "descripcion video";
    justify-items: center;
  }
  #reforestacion h2 {
    grid-area: proyecto;
    font-size: 30px;
  }
  #reforestacion p {
    grid-area: descripcion;
    font-size: 22px;
    padding: 8px;
  }
  #reforestacion iframe {
    grid-area: video;
    width: 440px;
    height: 245px;
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #210e30;
  background-color: #f6f1f9;
}

/*# sourceMappingURL=style.css.map */
