* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $tipografiaCuerpo;
    color: $colorTipografia;
    background-color: $background;
    overflow-x: hidden;
}