header {
    #carritoDeCompras {

        button {

            #verCarrito {
                background-color: #fff;
                border: 0px;
            }
        }

        div {
            div {
                h2 {
                    font-size: 26px;
                }
            }
        }

        #contenedorCarrito {
            padding: 8px;

            div {

                .cardCarrito {
                    display: grid;
                    grid-template-columns: 25% 75%;

                    .imgCarrito {
                        width: 80px;
                        height: 80px;
                        margin: 4px;
                    }

                    .cuerpoCard {
                        display: grid;
                        grid-template-columns: 35% 35% 10% 15%;
                        align-items: center;
                        gap: 2px;
                        font-size: 16px;

                        h3 {
                            padding: 8px;
                        }

                        p {
                            padding: 8px;
                        }

                        #botonCarrito {
                            @include botones;
                        }

                        #botonCarrito:active {
                            background-color: $detalles;
                            color: $destacados;
                        }
                    }
                }
            }
        }

        #total {
            display: flex;
            justify-content: flex-end;
            margin: 8px;
            padding-right: 8px;
            font-size: 26px;
        }

        #vaciarCarrito {
            @include botones;
            margin: 8px;
        }

        #vaciarCarrito:active {
            background-color: $detalles;
            color: $destacados;
        }
    }
}



@media (min-width: 600px) and (max-width: 1023px) {
    header {

        #carritoDeCompras {
            button {
                #verCarrito {
                    font-size: 32px;
                    margin: 8px;
                }
            }

            #contenedorCarrito {
                div {
                    .cardCarrito {

                        .cuerpoCard {
                            display: grid;
                            grid-template-columns: 35% 35% 10% 20%;
                            align-items: center;
                            gap: 2px;
                        }
                    }
                }

            }

        }

    }
}


@media (min-width: 1024px) {


    #carritoDeCompras {
        display: none;
    }

    #navbarNav {
        ul {
            li {
                a {
                    margin: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}