main {
    margin: 96px auto;

    div {
        div {
            img {
                position: relative;
            }
            h2 {
                position: absolute;
                top: 10%;
                right: 16px;
                color: $lililla;
                font-weight: bold;
                font-size: 280px;
            }
        }
    }
}