main {
    margin: 71px auto auto auto;

    div {
        div {
            img {
                position: relative;
            }

            h2 {
                width: 221px;
                height: 52px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 34%;
                right: 64px;
                color: $lililla;
                font-weight: bold;
                font-size: 60px;
            }
        }
    }
}

#contenedorProductos {
    display: grid;
    gap: 2px;
    grid-template-areas:
        "titulo titulo"
        "envio envio"
        "card card"
    ;

    h2 {
        font-size: 28px;
        grid-area: titulo;
        justify-self: center;
        margin: 16px auto;
    }

    p {
        grid-area: envio;
        justify-self: center;
    }


    .card {
        grid-area: card;
        display: grid;

        .imgProductos {
            margin: 8px;
            justify-self: center;
            width: 150px;
            height: 150px;
        }

        .cuerpoCard {
            margin: 8px;

            h3 {
                font-size: 18px;
            }

            p {
                font-size: 22px;
            }

            button {
                @include botones;
            }

            button:active {
                background-color: $lila;
                color: $indigo;
            }
        }
    }
}

#carritoDeCompras {

    #contenedorCarrito {

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 8px;

            #cardCarrito {

                #cuerpoCard {

                    #botonCarrito {
                        border-radius: 6px;
                        background-color: $fondolila;
                        border: solid $indigo 1px;
                        padding: 6px;
                        font-size: 14px;
                    }

                    #botonCarrito:active {
                        background-color: $lila;
                        color: $indigo;
                    }
                }
            }
        }
    }

    #total {
        display: flex;
        justify-content: flex-end;
        margin: 8px;
        padding-right: 8px;
    }

    #vaciarCarrito {
        @include botones;
        margin: 8px;
    }

    #vaciarCarrito:active {
        background-color: $lila;
        color: $indigo;
    }
}

#reforestacion {
    margin: 16px;
    border-top: 1px solid $indigo;
    border-bottom: 1px solid $indigo;
    display: flex;
    flex-direction: column;
    align-items: center;
        h2 {
            margin: 16px 0px;
            padding: 8px;
            font-size: 20px;
            font-weight: bold;
        }
        p {
            text-align: center;
            font-size: 18px;
        }
        iframe {
            margin: 16px 0px;
            width: 100%;
        }
}