footer {
    background-color: $detalles;
    margin-top: 8px;
    color: $colorTipografia;

    h3 {
        padding: 6px;
        font-size: 20px;
    }

    ul {
        padding: 8px;
        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: $colorTipografia;
            }
        }
    }

    .redesSociales {
        display: grid;
    }

    p {
        text-align: center;

        a {
            text-decoration: none;
            color: $colorTipografia;
        }
    }
}

body {
    #Whatsapp {
        a {
            display: block;
            font-size: 45px;
            text-decoration: none;
            color: #25D366;
            position: fixed;
            z-index: 2;
            bottom: 20px;
            right: 20px;

        }
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    footer {
        height: 40vh;

        h3 {
            padding: 16px;
            font-size: 32px;
        }

        ul {
            padding: 16px;

            li {
                padding: 8px;

                a {
                    font-size: 22px;
                }
            }
        }

        p {
            padding: 10px;
            font-size: 16px;
        }
    }
}

@media (min-width: 1024px) {
    footer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3 {
            margin-left: 16px;
            font-size: 28px;
        }

        ul {
            margin-left: 16px;
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}