nav {
    font-size: 18px;

    div {
        #logoMarca {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 6rem;
                height: 6rem;
            }

            h1 {
                margin-left: 8px;
                color: $anegro;
                font-size: 32px;
                font-family: $tipografia;
            }
        }

        #carritoDeCompras {

            #contenedorCarrito {
                padding: 8px;

                div {

                    .cardCarrito {
                        display: grid;
                        grid-template-columns: 25% 75%;

                        .imgCarrito {
                            width: 80px;
                            height: 80px;
                            margin: 4px;
                        }

                        .cuerpoCard {
                            display: grid;
                            grid-template-columns: 35% 35% 10% 15%;
                            align-items: center;
                            gap: 2px;

                            h3 {
                                padding: 8px;
                            }

                            p {
                                padding: 8px;
                            }

                            #botonCarrito {
                                @include botones;
                            }

                            #botonCarrito:active {
                                background-color: $lila;
                                color: $indigo;
                            }
                        }
                    }
                }
            }

            #total {
                display: flex;
                justify-content: flex-end;
                margin: 8px;
                padding-right: 8px;
            }

            #vaciarCarrito {
                @include botones;
                margin: 8px;
            }

            #vaciarCarrito:active {
                background-color: $lila;
                color: $indigo;
            }
        }

        div {
            div {
                div {
                    h2 {
                        font-size: 22px;
                    }
                }
            }
        }

        #navbarNav {
            ul {
                li {
                    a {
                        margin: 6px;
                    }
                }
            }
        }
    }
}


@media (min-width: 600px) and (max-width: 1023px) {
    nav {
        div {

            #logoMarca {
                img {
                    width: 6rem;
                    height: 6rem;
                }

                h1 {
                    margin-left: 16px;
                    font-size: 45px;
                }
            }


            #carritoDeCompras {
                button {
                    #verCarrito {
                        font-size: 32px;
                        margin: 8px;
                    }
                }

                #contenedorCarrito {
                    div {
                        .cardCarrito {

                            .cuerpoCard {
                                display: grid;
                                grid-template-columns: 35% 35% 10% 20%;
                                align-items: center;
                                gap: 2px;
                            }
                        }
                    }

                }

            }

            button {
                margin: 8px;

                .navbar-toggler-icon {
                    width: 3rem;
                    height: 3rem;

                }
            }
        }
    }
}