nav {
    font-size: 18px;

    div {
        img {
            width: 50px;
            height: 50px;
        }

        h1 {
            color: $anegro;
            font-size: 32px;
            font-weight: bold;
            font-family: $tipografia;
        }
        div {
            div {
                div {
                    h2 {
                        font-size: 22px;
                    }
                }
            }
        }
        div {
            ul {
                li {
                    a {
                       margin: 6px;
                    }
                }
            }
        }
    }
}