nav {
    font-size: 24px;

    div {
        img {
            width: 60px;
            height: 60px;
        }

        h1 {
            color: $anegro;
            font-size: 32px;
        }

        div {
            ul {
                li {
                    a {
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}